name: Release

on:
  push:
    tags:
      - "v*"

concurrency:
  group: '${{ github.workflow }} @ ${{ github.ref }}'
  cancel-in-progress: false

jobs:
  release:
    name: Release
    permissions:
      contents: write
      packages: write
    uses: USA-RedDragon/reusable-actions/.github/workflows/goreleaser.yaml@8a4b70987629154883ec4da1f523c70907b67059 # v2.0.12
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
