name: Release

on:
  push:
    tags:
      - "v*"

concurrency:
  group: '${{ github.workflow }} @ ${{ github.ref }}'
  cancel-in-progress: false

jobs:
  release:
    name: Release
    permissions:
      contents: write
      packages: write
    uses: USA-RedDragon/reusable-actions/.github/workflows/goreleaser.yaml@f703bdec2cf1770ebc8eaa0ce12cda3047820d41 # v2.0.11
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
